---
layout: default

description: >
    Ajiro est un groupe de personnes passionnées et curieuses qui se consacrent à développer des entreprises saines et humaines.
---
<div class="text-center">
  <h1>Ajiro</h1>
</div>
<div class="row spacer-40">
  <div class="col-md-12">
    <div class="jumbotron">
      <p class="text-justify">
        Ajiro est un groupe de personnes passionnées, curieuses qui se consacrent {{site.baseline | downcase }}.
      </p>
    </div>
  </div>
</div>

<div class='row spacer-20'>
  <div class='col-md-12 '>
    <h2>Nos Valeurs</h2>
  </div>
</div>
<div class='row spacer-20'>
  <div class='col-md-12 text-justify'>
    <h3>Confiance</h3>
    <p>Nous croyons dans la valeur morale, affective et professionnelle de nos interlocuteurs.</p>
    <p>Nous ne présupposons pas la tromperie, la trahison ou l'incompétence de leur part. </p>
    <p>Nous ne sommes pas naïfs: nous savons nous protéger si nécessaire, mais ces exceptions ne doivent pas nuire à la majorité.</p>
    <p>Comme nous avons confiance les uns dans les autres, nous nous efforçons de rendre l'information ouverte et transparente, sans la restreindre ni la contrôler.</p>

    <h3>Innovation</h3>
    <p>Nous imaginons et expérimentons les nouvelles idées. </p>
    <p>Nous valorisons l'apprentissage, la curiosité et les prises de risque qui aident à la création.</p>
    <p>Droit à l'erreur !</p>

    <h3>Partage</h3>
    <p>Nous valorisons le partage et la réciprocité.</p>

    <h3>Simplicité</h3>
    <p>KISS</p>
    <p>Des solutions simples et minimalistes permettent de tester l'essentiel des grandes idées. </p>
    
    <h3>Bienveillance</h3>
    <p>On se dit toutes les choses nécessaires à la mise en oeuvre de nos valeurs, y compris lorsque ces messages sont difficiles</p>
    <p>Nous nous efforçons d'avoir des interactions bienveillantes, dans le respect et l'écoute. </p>
    <p>Dans ce cadre, nous sommes à l'aise et en sécurité pour évoquer nos divergences et les utiliser comme base d'innovations futures.</p>

    <h3>Humour</h3>
  </div>
</div>

<div class='row spacer-20'>
  <div class='col-md-12 '>
    <h2>L'équipe</h2>
  </div>
</div>
{% for member in site.data.team %}
  <div class='row spacer-20'>
    <div class='col-md-10'>
      <h3>
      {{member.name}}
      <span class="circled-icon">
        <a href='mailto:{{member.mail}}'><i class='fa fa-envelope'></i></a>
        {% for link in member.social %}
          <a href='{{link.url}}'><i class='fa {{link.icon}}'></i></a>
        {% endfor %}
      </span>
      </h3>
      <p>{{member.bio | markdownify}}</p>
    </div>
    <div class='col-md-2'>
      <img alt="Photo {{member.name}}" class="img-responsive img-thumbnail" src="/assets/images/team/{{member.photo}}" />
    </div>
  </div>
{% endfor %}
